<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>AEM FRONT END</h1>
    

    <h1>Products</h1>
    <ul>
        <li>
            <a href="http://127.0.0.1:8000/enroll?email=faz@gmail.cortet&pass=12442121215P&productsku=NBSFITFRONTREARG">
                product 1
            </a>
        </li>
        <li> <a href="http://127.0.0.1:8000/enroll?email=fazs@gmail.cortet&pass=12442121215P&productsku=NBDVRS2RFCW">
                product 2
            </a>
        </li>
    </ul>
</body>

</html>